{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
	lecture d'une annonce {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
	<h2>{{ advert.title }}</h2>
	<i>par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>
	
	<div class="well">
	    {{ advert.content }}
	    {% if advert.image is not null %}
	    	<img src="{{ advert.image.url }}" alt="{{ advert.image.alt }}">
	    {% endif %}
	    
	</div>
	{% if not listskill is empty %}
	<div class="well">
		<h3>compétences requises :</h3>
		{%  for advskill in listskill%}
			<span>{{ advskill.skill.name }}({{advskill.level}}){% if not loop.last %},{% endif %}</span>
		{% endfor %}
	</div>
	{% endif %}
	
	{% if not advert.categories.empty %}
	<div class="well">
		<h3>Categories liées</h3>
		{% for category in advert.categories %}
			<span>{{ category.name|capitalize }}{% if not loop.last %},{% endif %}</span>
		{% endfor %}
	</div>	
	{% endif %}
	
	<div class="well">
	<h3>Candidatures</h3>
	<ul class="list-group">
		{% for app in listapplication %}
			<li class="list-group-item">{{ app.author }} à postulé le {{ app.date|date('m/d/Y') }} avec ce message {{ app.content }}</li>
		{% endfor %}
	</ul>	
	</div>
	
	<p>
		<a href="{{ path('oc_platform_home')}}" class="btn btn-default">
		 <i class="glyphicon glyphicon-chevron-left"></i>
		 Retour a la liste
		</a>
		<a href="{{path('oc_platform_edit',{'id':advert.id})}}" class="btn btn-default">
		<i class="glyphicon glyphicon-chevron-edit"></i>
		 modifier l'annonce
		</a>
		<a href="{{path('oc_platform_edit',{'id':advert.id})}}" class="btn btn-danger">
		<i class="glyphicon glyphicon-chevron-trash"></i>
		 supprimer l'annonce
		</a>
	</p>
{% endblock %}